    web1:
        build: david/apache
        networks:
            hlc:
                ipv4_address: 172.16.1.10
        volumes:
            - /hlc-docker/www:/srv/www

    web2:
        build: david/apache
        networks:
            hlc:
                ipv4_address: 172.16.1.11
        volumes:
            - /hlc-docker/www:/srv/www

networks:
    hlc:
        driver: bridge
        ipam:
            config:
            - subnet: 172.16.0.0/16

